SPRING_DATASOURCE_URL=jdbc:postgresql://db.rqlpulifsnwhxskamywe.supabase.co:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=replace-with-your-db-password

BREVO_API_KEY=replace-with-your-brevo-api-key
BREVO_SENDER_EMAIL=replace-with-your-sender-email
BREVO_SENDER_NAME=Work Folio
